
footer{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-top: 60px;
    padding-bottom: 5px;
    background-color: white;
    text-align: center;
}
footer section{
    
    align-items: center;
    margin-bottom: 35px;
}
footer section p{
    margin: 0 32px;
    text-align: center;
}
footer section i{
    background-color:white;
    color: var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
}
.copy{
    display: flex;
}




@media(min-width:769px){
    footer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .copy{
        margin-top: 15px;
        width: 100%;
    }
    footer section{
        width: 32%
    };
    
    
}

footer section i:hover{
        
    color: var(--Amarillo);
       
    };