.login{
    margin: 0 auto;
    width: 70%;
    max-width: 600px;
    background-color: var(--GrisClaro);
    margin-top: 30px;
}
.login form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
    
}
.login form input{
    margin-bottom:20px ;
    width: 90%;
    font-size: 22px;
}
.login form input.enviar{
    color: white;
    background-color: var(--Celeste);
    width: 90%;
}