

.banner{
    display: none;
    width: 100%;
}
main section{
    width: 90%;
    margin: 0 auto; 
}
main article img{
    
    width: 100%;
}
main article {
    background-color: white;
    margin-top: 10px; 
    
}
main .detalles{
    border-top: 1px solid  var(--GrisClaro);
    padding: 15px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
main .detalles p{
    margin: 0 5px;
}
main h2{
    font-size: 24px;
    margin-top: 5%;
    width: 100%;
}
main section article h3{
    font-size: 16px;
    padding-top: 15px;
    color: var(--GrisOscuro);
    font-weight: 100;
    display: none;
}

main .precio{
    font-size: 18px;
}
main .oferta{
    font-size: 16px;
    color: var(--Verde);
}
main section article div.detalles i{
    position: absolute;
    right: 20px;
    top:-15px;
    font-size: 10px;
    color: var(--Verde);
    background-color: white;
    border: 1px solid var(--Verde);
    border-radius: 50%;
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;

}



@media(min-width:361px){
    main .detalles {
        flex-wrap: wrap;
    }

    main section article h3{
        display: block;
        width: 100%;
        margin-left: 5px;
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
    .banner{
        display: block;
        width: 100%;
        padding-bottom: 0;
        margin: 0 auto;
    }



    
}




@media(min-width:769px){
    main section article{
        width: 22%;
    }
}